/* Juan Aguirre */



body 
{

   height: 100vh;
   background: linear-gradient(180deg, #255, #111);
  color: #000;

}

.mp3{
  margin: 150px auto;
  position: relative;
  border: 3px solid #E6E6E6;
  background-color: #2D9091;
  border-radius: 10px 10px 25px 25px;
  height: 180px;
  width:130px;
  -webkit-box-shadow: 3px 5px 0 1px rgb(181, 181, 181);
  box-shadow: 3px 5px 0 1px rgb(181, 181, 181);
}
.mp3:before{
  content: "";
  position: absolute;
  width: 4px;
  height: 15px;
  border-radius: 0 2px 2px 0;
  background-color: #EBEBEB;
  left: 134px;
  top: 75px;
  border: 1px solid rgba(158, 156, 156, 0.38);
  -webkit-transition:all .5s ease;
}
.mp3:after{
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 3px;
  height: 30px;
  background-color: #2d2d2d;
  left: 133px;
  top: 28px;
}
.circle{
  position: absolute;
  margin: 0 auto;
  left: 14px;
  top: 65px;
  background-color: #F7F7F7;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid #808080;
}
.circle:after{
  position: absolute;
  content: "";
  height: 47px;
  width: 47px;
  left: 25px;
  top: 26px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 100%;
}
.circle:before{
  position:absolute;
  content:"";
  left: 73px;
  top: 73px;
  height: 30px;
  width:30px;
  background-color:#2D9091;
  border-radius: 100%;
}
.fa{
  color: #676767;
  font-size: 10px;
  position: relative;
}
.fa-fast-backward{
  top: 39px;
  left: 8px;
}
.fa-fast-forward{
  top: 39px;
  left: 66px;
}
.fa-play{
  top:39px;
  left: 12px;
}
.fa-pause{
  top:39px;
  left: 10px;
}
.fa-plus{
  top: 3px;
  right: 7px;
}
.fa-minus{
  top: 74px;
  right: 18px;
}


@media screen and (min-width: 420px) {
  

body 
{
  overflow-y:hidden;
    overflow-x:hidden;
}  




}






